*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    align-items: center;
    background-color: rgb(226, 226, 213);
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;

}
h2{
    font-size: 50px;

}